:root {
  --font-boska: "Boska", serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-bg: #1c3a38;
  --light-yellow: #75ff69;
  --black-500: #1b3936;
  --stroke-clr: #678784;
}

@font-face {
  font-family: "Switzer-Black";
  src: url(../fonts/Switzer-Black.otf);
  font-style: normal;
}
@font-face {
  font-family: "Switzer-Regular";
  src: url(../fonts/Switzer-Regular.otf);
  font-style: normal;
}
@font-face {
  font-family: "Switzer-Semibold";
  src: url(../fonts/Switzer-Semibold.otf);
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  max-width: 1214px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
}

.text-stroke {
  color: var(--stroke-clr);
}
.text-green {
  color: var(--light-yellow);
}

.header {
  max-height: 1080px;
  overflow: hidden;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}
.nav-header {
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  width: 100%;
  max-width: 1214px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-list {
  font-family: "Switzer-Regular";
  font-size: 18px;
}
.navbar .nav-list-one {
  display: flex;
  align-items: center;
  gap: 54px;
}
.navbar .nav-list-two {
  display: flex;
  align-items: center;
  gap: 41px;
}
.navbar .nav-list .nav-link {
  color: #fff;
}

.hero-img-div {
  position: relative;
  width: 100%;
  /* border: 1px solid wheat; */
}
.hero-img-div {
  display: flex;
  justify-content: center;
}
.hero-img-div img {
  position: relative;
  transform: translateY(-120px);
}
.hero-text-container {
  position: absolute;
  width: 100%;
  top: 200px;
}
.hero-text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.hero-text .text-one,
.text-four {
  color: #fff;
  font-family: var(--font-boska);
  font-size: 282px;
  text-align: center;
  line-height: 161px;
  font-weight: 400;
}
.hero-text .text-one {
  position: relative;
  left: -40px;
}
.hero-text .text-two {
  font-family: var(--font-boska);
  font-size: 282px;
  text-align: right;
  font-style: italic;
  color: var(--light-yellow);
  position: relative;
  right: -150px;
  font-weight: 400;
}
.hero-text .text-three {
  color: #fff;
  font-family: var(--font-boska);
  font-size: 32px;
  text-align: center;
}
.hero-text .text-five {
  font-family: var(--font-boska);
  text-align: center;
  color: #fff;
  margin-top: 51px;
  max-width: 570px;
  margin-inline: auto;
  font-size: 18px;
  font-weight: 400;
}
.main .info-section-wrapper {
  max-width: 100%;
  background-color: #fff;
}
.main .info-section {
  max-width: 100%;
  background-color: #fff;
  padding-top: 107px;
  padding-bottom: 125px;
}

.main .section-img {
  max-width: 100%;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}
.main .section-img img {
  max-width: 100%;
}
.info-section_flex {
  display: flex;
  gap: 207px;
  align-items: center;
}
.info-section-left-col {
  width: 50%;
}
.info-section-content {
  font-family: "Switzer-Regular";
  font-size: 24px;
  margin-top: 41px;
  color: var(--black-500);
  max-width: 609px;
}

.info-section-right-col {
  display: flex;
  flex-direction: column;
  gap: 124px;
}
.number-card .number-card-title {
  font-family: "Switzer-Regular";
  font-size: 24px;
}
.number-card .number-card-number {
  font-family: var(--font-boska);
  font-weight: bold;
  font-size: 100px;
  color: var(--black-500);
}
.number-card .number-card-number span {
  font-family: "Switzer-Regular";
  font-size: 24px;
  margin-left: 10px;
  color: var(--black-500);
  font-weight: 400;
}
/* about us starts */
.about-us {
  position: relative;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}
.about-us img {
  max-width: 100%;
}
.about-us-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-box {
  max-width: 1083px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
  padding-top: 223px;
  text-align: center;
}

.contetn-box_title {
  font-family: "Switzer-Regular";
  font-size: 24px;
  color: var(--light-yellow);
  font-style: normal;
  font-weight: 400;
}
.content-box_description {
  font-family: var(--font-boska);
  font-size: 68px;
  color: #fff;
  text-transform: capitalize;
}
.intersect-img {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}
/* about us ends */

/* sign up section */
.signup-section {
  padding-top: 103px;
  padding-bottom: 103px;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}
.signup-section_area {
  max-width: 1194px;
  margin: auto;
  position: relative;
}
.signup-section_area img {
  max-width: 100%;
}
.signup-section_area .form-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-section_area .form-section .form-content-area {
  max-width: 603px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-content-area_title {
  font-family: var(--font-boska);
  font-weight: 400;
  color: #fff;
  font-size: 68px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 21px;
}
.form-content-area_description {
  font-family: "Switzer-Regular";
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px;
}
.form-group {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
}
.form-group input {
  flex: 1;
  border: 0;
  outline: 0;
  padding-left: 21px;
  /* placeholder BBBBBB */
  font-family: "Switzer-Regular";
  font-size: 18px;
}

::placeholder {
  color: #bbbbbb;
}

.form-btn {
  width: 174px;
  background-color: var(--light-yellow);
  font-family: "Switzer-Semibold";
  font-weight: 500;
  color: #1b3936;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* reserve section  */
.reserve-section-area {
  background-color: #fff;
  max-width: 100%;
  position: relative;
  padding-top: 95px;
  padding-bottom: 105px;
}

.reserve-section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 151px;
  align-items: center;
}
.reserve-container {
  max-width: 1040px;
  margin: 0 auto;
}
.reserve-section-left-col .reserve-section-title {
  font-family: var(--font-boska);
  font-weight: 400;
  font-size: 68px;
  text-transform: capitalize;
  margin-bottom: 14px;
  color: var(--black-500);
}
.reserve-section-left-col .reserve-section-para {
  font-family: "Switzer-Regular";
  font-weight: 400;
  margin-bottom: 72px;
  font-size: 18px;
  color: var(--black-500);
}
.reserve-section-right-col img {
  max-width: 203px;
  height: auto;
  padding-top: 20px;
}
.action-btn {
  width: 200px;
  height: 72px;
  text-align: center;
  border: 1px solid var(--black-500);
  font-family: "Switzer-Regular";
  font-weight: 500;
  font-size: 18px;
  color: var(--black-500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* contact section */
.contact-section-area {
  position: relative;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}
.contact-flex-box {
  display: flex;
  flex-direction: row;
}
.contact-flex_about,
.contact-flex_rooms,
.contact-flex_contact {
  flex: 1;
  padding: 30px 36px;
  height: 320px;
  position: relative;
}

.contact-flex_about {
  background-color: var(--light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-flex_rooms,
.contact-flex_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
}

.contact-flex_about_title,
.contact-flex_rooms_title,
.contact-flex_contact_title {
  font-family: var(--font-boska);
  font-weight: 400;
  font-size: 68px;
}
.contact-flex_about_title {
  color: var(--black-500);
}
.contact-flex_rooms_title {
  color: #ffffff;
  margin-top: 20px;
}
.contact-flex_contact_title {
  color: #ffffff;
  margin-top: 20px;
}

.contact-flex_about_para,
.contact-flex_rooms_para,
.contact-flex_contact_para {
  font-family: "Switzer-Regular";
  font-weight: 400;
  font-size: 1rem;
}
.contact-flex_about_para {
  color: var(--black-500);
}
.contact-flex_rooms_para {
  color: #ffffff;
}
.contact-flex_contact_para {
  color: #ffffff;
}
.arrow-dark,
.arrow-light {
  position: absolute;
  right: 30px;
  bottom: 36px;
  cursor: pointer;
  max-width: max-content;
}
.arrow-light {
  position: absolute;
  right: 30px;
  transform: translateY(-40px);
}
.title-arrow-flex {
  display: flex;
  align-items: center;
}

/* footer */
.footer {
  padding-top: 19px;
  padding-bottom: 17px;
}
.footer-area{
    display: flex;
    justify-content: center;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
}
.footer-link {
  font-family: "Switzer-Regular";
  font-weight: 400;
  color: var(--black-500);
  font-size: 18px;
}
